<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 segment">
        <a href="#" title="Hallooou - HTML5 Template">
          <h2>
            <!-- replace with your brand logo/text -->
            <img src="/images/logo.svg" onerror="this.src='/images/logo.png'; this.onerror=null;" alt="Hallooou - HTML5 Template" title="Hallooou - HTML5 Template" class="img-responsive">
          </h2>
        </a>
        <p class="white">We believe in Simple, Creative &amp; Flexible Design Standards.</p>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

    <div class="row text-center">
      <div class="col-md-12 social segment">
        <h4>Stay Connected</h4>
        <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
        <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-3x"></i></a>
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->

  </div><!-- /.container -->

  <div class="copynote">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          &copy; 2015. Hallooou. All rights reserved.
        </div><!-- /.col-md-12 -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.copynote -->

  <div class="nav pull-right scroll-top">
    <a href="#home" title="Scroll to top"><i class="fa fa-angle-up"></i></a>
  </div>

</footer>