<section id="about" class="about content-section alt-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Nuestra Misión</h2>
        <!--<h3 class="caption gray">Customers in 100+ countries use our services</h3>-->
        <p></p>

        <blockquote>
          En Vinte trabajamos por un futuro en el que “una vida como debería ser la vida” esté al alcance de todos, mediante la creación
          de comunidades integradas con una fuerte orientación en rentabilidad, excelencia en calidad e innovación, donde sus residentes
          se interesen el uno por el otro y por el medio ambiente, permitiéndoles disfrutar de una mejor calidad de vida y desarrollar
          su máximo potencial bajo parámetros de vivienda superiores a los del sector, a lo largo de todos los segmentos de vivienda que
          atendemos.
          <!--<span>Ray Goforth</span>-->
        </blockquote>

        <!--<h3 class="gray light">Over the past 11 years we've worked with some amazing small businesses, non-profits, academic institutions and even Fortune 100 companies.</h3>-->

        <br>


        <h2>Nuestros Valores</h2>

          <blockquote>Vinte es sinónimo de innovación, pertenencia, pasión y trascendencia; valores que han inspirado las acciones de la compañía y se comparten a lo largo de toda la estructura organizacional desde su creación en 2001. </blockquote>

        <div class="text-center"><img style="width:70%" src="/images/vinte/valores.png" alt=""></div>

<br>
        <div id="s" class="col-md-12">
          <div class="col-md-3">
            <h4>Innovación</h4>
            <p>
              Somos visionarios y creativos, abrimos brecha desafiando lo convencional, nuestros sueños inspiran el cambio en beneficio de todos y del entorno.
            </p>
          </div>
          <div class="col-md-3">
            <!--<div><img src="/images/vinte/demo/business_model_356.jpg"></div>-->
            <h4>Pertenencia</h4>
            <p>
              Juntos valemos más que separados; desarrollamos comunidades integradas, promovemos la solidaridad; y generamos satisfacción y felicidad.
            </p>
          </div>
          <div class="col-md-3">
            <!--<div><img src="/images/vinte/demo/cosa_facciamo_356.jpg"></div>-->
            <h4>
              Pasión
            </h4>
            <p>
              Estamos comprometidos, actuamos con determinación, cuidamos cada detalle, y nos enfocamos en atender necesidades reales de nuestros clientes.
            </p>
          </div>
          <div class="col-md-3">
            <!--<div><img src="/images/vinte/demo/il_nostro_2015_356.jpg"></div>-->
            <h4>Trascendencia</h4>
            <p>
              Queremos hacer historia a través de nuestro esfuerzo diario, generando valor compartido.
            </p>
          </div>
        </div>


      </div>


    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
<section id="products" class="products content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="/images/hallooou_template-iphone_white.png" class="center-block img-responsive">
      </div><!-- /.col-md-4 -->

      <div class="col-md-8">
        <div class="products-container">

          <div class="col-md-12">
            <h2>Why Hallooou is awesome?</h2>
            <h3 class="caption white">Ultricestum urna litora sit sed praesent condimentum eu a et scelerisque</h3>
          </div><!-- /.col-md-12 -->

          <div class="col-md-6 product-item">
            <div class="media-left">
              <span class="icon"><i class="fa fa-arrows-alt fa-3x"></i></span>
            </div><!-- /.media-left -->
            <div class="media-body">
              <h3 class="media-heading">Responsive Layout</h3>
              <p>Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
            </div><!-- /.media-body -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 product-item">
            <div class="media-left">
              <span class="icon"><i class="fa fa-eye fa-3x"></i></span>
            </div><!-- /.media-left -->
            <div class="media-body">
              <h3 class="media-heading">Retina Ready Graphics</h3>
              <p>Looks beautiful &amp; ultra-sharp on Retina Displays with Retina Icons, Fonts &amp; Images.</p>
            </div><!-- /.media-body -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 product-item">
            <div class="media-left">
              <span class="icon"><i class="fa fa-arrows-v fa-3x"></i></span>
            </div><!-- /.media-left -->
            <div class="media-body">
              <h3 class="media-heading">Parallax Sections</h3>
              <p>Comes with Parallax effect script so you can add Parallax effect to any section of the website.</p>
            </div><!-- /.media-body -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 product-item">
            <div class="media-left">
              <span class="icon"><i class="fa fa-video-camera fa-3x"></i></span>
            </div><!-- /.media-left -->
            <div class="media-body">
              <h3 class="media-heading">YouTube &amp; HTML5 Background Video</h3>
              <p>Choose to display either YouTube or HTML5 as background video.</p>
            </div><!-- /.media-body -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 product-item">
            <div class="media-left">
              <span class="icon"><i class="fa fa-toggle-on fa-3x"></i></span>
            </div><!-- /.media-left -->
            <div class="media-body">
              <h3 class="media-heading">Color Options</h3>
              <p>Choose a color that suits your brand &amp; change the color of the template with just one CSS file.</p>
            </div><!-- /.media-body -->
          </div><!-- /.col-md-6 -->

          <div class="col-md-6 product-item">
            <div class="media-left">
              <span class="icon"><i class="fa fa-envelope-o fa-3x"></i></span>
            </div><!-- /.media-left -->
            <div class="media-body">
              <h3 class="media-heading">Contact form</h3>
              <p>Fully functional PHP contact form, with user input validation.</p>
            </div><!-- /.media-body -->
          </div><!-- /.col-md-6 -->

        </div><!-- /.products-container -->
      </div><!-- /.col-md-8 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>