<div class="col-md-1"></div>
<div class="col-md-9">
  <table class="table table-bordered table-center-wrap">
    <thead>
    <tr>
      <th>dddddd</th>
      <th>dddddd</th>
      <th>dddddd</th>
      <th>dddddd</th>
    </tr>
    </thead>
    <tr>
      <td>ccccccc</td>
      <td>ccccccc</td>
      <td>ccccccc</td>
      <td>ccccccc</td>
    </tr>
  </table>
</div>
<div class="col-md-1"></div>
