<div class="resumen container">
<br>

  <div class="col-md-1"></div>
  <div class="col-md-9">

    <p><strong>La Compañía.</strong></p>
    <p>Vinte es una desarrolladora inmobiliaria verticalmente integrada, con un
      enfoque en rentabilidad, presente en toda la cadena de valor del negocio de la
      vivienda, incluyendo la adquisición de tierra, obtención de autorizaciones y
      factibilidades, urbanización, diseño, construcción y comercialización de
      viviendas, así como generación de vida en comunidad. Vinte abarca los mercados
      de Viviendas de Interés Social, Viviendas de Interés Medio y Viviendas de
      Interés Residencial en México. Vinte cuenta con tres socios estratégicos
      internacionales. Asimismo, se dedica desde hace más de 12 años a desarrollar
      conjuntos habitacionales para familias de medianos ingresos, enfocados en
      mejorar su calidad de vida.</p>
    <p>Vinte desarrolla un concepto de comunidades integrales donde los Clientes
      gozan de obras de infraestructura, vialidad e instalaciones educativas,
      comerciales y recreativas estratégicamente distribuidas y en armonía con el
      diseño urbano, así como de servicios de conectividad, tecnología para la
      vivienda y desarrollo comunitario que permiten a sus habitantes disfrutar de
      una mejor calidad de vida. Vinte ha desarrollado desde su fundación más de 23
      mil viviendas en cuatro estados de la República Mexicana, principalmente en el
      centro del país. En particular el crecimiento anual compuesto del número de
      viviendas escrituradas en el periodo 2008 a 2015 fue igual al 20.6%. El equipo
      de dirección de Vinte cuenta en promedio con más de 24 años de experiencia en
      el sector.</p>
  </div>
  <div class="col-md-1"></div>
  <div id="grafica-vinte-hoy" class="row">
    <!--<div class="text-center"><img src="/images/vinte/demo/estrategia.png" alt=""></div>-->
    <!--<div id="rectangulo"></div>-->

    <p style="text-align: center"><strong>Vinte Hoy.</strong></p>

    <div class="vinte-hoy ">
      <div class="right-vinte-hoy">
        <ul>
          <li> <div class="buller"> <i class="fa fa-home"></i></div> <div class="content-buller"><p><b>Más de 23,000 viviendas</b> escrituradas, principalmente en el centro del país</p></div></li>
          <li> <div class="buller"> <i class="fa fa-user"></i></div> <div class="content-buller"><p>Liderada por un equipo de dirección con un promedio <b>de 24 años de experiencia </b>en el sector</p></div></li>
          <li> <div class="buller"> <i class="fa fa-bar-chart"></i></div> <div class="content-buller"><p><b>Retorno sobre Capital >20% por 8 años </b>consecutivos, con bajo apalancamiento (<b>Deuda Neta / EBITDA</b> actual de <b>1.18x</b>)</p></div></li>
          <li><div class="buller"> <i class="fa fa-pie-chart"></i></div> <div class="content-buller"><p><b>8 años</b> consecutivos repartiendo <b>dividendos</b></p></div></li>
        </ul>
      </div>
      <div class="left-vinte-hoy">

        <ul>
          <li> <div class="buller"> <i class="fa fa-trophy"></i></div> <div class="content-buller"><p><b>4 premios internacionales</b> y 8 Premios
            Nacionales de Vivienda, entre otros</p></div></li>
          <li> <div class="buller"> <i class="fa fa-usd"></i></div> <div class="content-buller"><p>Ventas 2015 por Ps. 2,569 mm –
            <b>TACC ’08-’15 de 21.7%</b></p></div></li><br>
         <li><div class="buller"> <i class="fa fa-empire"></i></div> <div class="content-buller"><p> EBITDA Ps. 581 mm en 2015 – <b>margen
            constantemente superior a 19% desde 2009</b></p></div></li>

        </ul>
      </div>
    </div>


  </div>

</div>
